@import url("https://fonts.googleapis.com/css?family=Teko&display=swap");

h1 {
    font-family: 'Teko';

}

.question-answer{
    font-size: 1.25em;
}

.next {
    margin-top: 15px;
}

input[type="radio"]:checked+label{ font-weight: bold; } 